.subscribe-button{
    background-color: rgb(210, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 110px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
}
.join-button{
    height: 36px;
    width: 62px;
    background-color: white;
    border-color: rgb(41, 18,211);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: rgb(41, 18,211);
    cursor: pointer;
}
.tweet-button{
    height: 36px;
    width: 74px;
    background-color: rgb(2, 158, 255);
    border: none;
    border-radius: 18px;
    color: white;
    margin-left: 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}